html, body
{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x:hidden;
  background-color: #E8E8E8;
}

#map
{
  width: 80%;
  height: 50%;
  margin: 0 auto;
  position: fixed;
  top: 0;
}

.notification-img
{
	position:absolute;
	width:100px;
	height:100px;
	top:30px;
	right:30px
}

.homepageonmapview-img
{
	position:absolute;
	width:100px;
	height:100px;
	top:30px;
	left:30px
}

.artistName
{
	padding-left: 30px;
	padding-right:30px;
	font-size:75px;
	font-family:Geneva, Arial;
	font-weight:bold;
	background-color: white;
}

.artistMessage
{
	padding-left: 30px;
	padding-right:30px;
	font-size:60px;
	font-family:Geneva, Arial;
	font-weight:bold;
	background-color: white;
}

.artistStatement
{
	padding-left: 30px;
	padding-right:30px;
	font-size:45px;
	font-family:Geneva, Arial;
	background-color: white;
}

.video-image
{
	height: 25%;
	width: 50%;
}

.audio-image
{
	height: 20%;
	width: 20%;
}

.sculpture-image
{
	height: 200px;
	width: 200px;
}

.videoExists
{
	padding: 30px;
}

.audioExists
{
	padding: 30px;
	font-size:45px;
	font-family:Geneva, Arial;
}

#myVideoModal
{
	padding-top:0px;
	width:75%;
	height:600px;
	margin: auto;
}

#myAudioModal
{
	padding-top:500px;
}

#modal
{
	width:100%;
}

#ad-modal
{
	position:absolute;
	left:25%;
	top:20%;
}

#table
{
	width:100%;
}

#object-table
{
	height:300px;
	width:100%;
	background-color: white;
}

.white-container
{
	background-color: white;
	width:80%;
	margin: 0 auto;
}

	
/** Mobile specifications **/

@media only screen and (max-device-width: 1080px){
	
	html, body
	{
	  width: 100%;
	  height: 100%;
	  margin: 0;
	  padding: 0;
	  overflow-x:hidden;
	  background-color: white;
	}

	#map
	{
	  width: 100%;
	  height: 50%;
	  margin: 0 auto;
	  position: fixed;
	  top: 0;
	}

	.notification-img
	{
		position:absolute;
		width:100px;
		height:100px;
		top:30px;
		right:30px
	}

	.homepageonmapview-img
	{
		position:absolute;
		width:100px;
		height:100px;
		top:30px;
		left:30px
	}

	.artistName
	{
		padding-left: 30px;
		padding-right:30px;
		font-size:75px;
		font-family:Geneva, Arial;
		font-weight:bold;
	}

	.artistMessage
	{
		padding-left: 30px;
		padding-right:30px;
		font-size:60px;
		font-family:Geneva, Arial;
		font-weight:bold;
	}

	.artistStatement
	{
		padding-left: 30px;
		padding-right:30px;
		font-size:45px;
		font-family:Geneva, Arial;
	}

	.video-image
	{
		height: 25%;
		width: 50%;
	}

	.audio-image
	{
		height: 20%;
		width: 20%;
	}

	.sculpture-image
	{
		height: 200px;
		width: 200px;
	}

	.videoExists
	{
		padding: 30px;
	}

	.audioExists
	{
		padding: 30px;
		font-size:45px;
		font-family:Geneva, Arial;
	}

	#myVideoModal
	{
		padding-top:500px;
		width:100%;
		height:100%;
	}

	#myAudioModal
	{
		padding-top:500px;
	}

	#modal
	{
		width:100%;
	}

	#ad-modal
	{
		position:absolute;
		left:20%;
		top:20%;
	}

	#table
	{
		width:100%;
	}

	#object-table
	{
		height:300px;
		width:100%;
	}

	.white-container
	{
		background-color: white;
		width:100%;
		margin: 0 auto;
	}
}




