html, body
{
	width: 100%;
	height: 100%;
  	padding-top: 10px;
  	overflow-x:hidden;
  	padding-bottom: 10px;
}

#welcome
{
	border:1px solid grey;
	height:250px;
	width:400px;
}

.start-tour-btn
{
	width:400px
}

.slick-slide
{
    display: none;
    float: left;
    height: 300px;
    min-height: 1px;
}

.slick-slide img
{
    display: block;
    height: 300px;
    width: 500px;
    margin : 10px;
}

.top-img
{
	height: 113px;
	width: 558px;
	display: block;
    margin: 0 auto;
}

/** Mobile specifications **/

@media only screen and (max-device-width: 1080px){

	html, body
	{
		width: 100%;
		height: 100%;
	  	padding-top: 10px;
	  	overflow-x:hidden;
	}
	
	.top-img
	{
		height: 64px;
		width: 250px;
		display: block;
    	margin: 0 auto;
	}

	.slick-slider
	{
		height: 100px;
	}

	.slick-slide
	{
	    display: none;
	    float: left;

	    width: 200px;
	    height: 130px;
	    min-height: 1px;
	    margin: 0 15px;
	}

	.slick-slide img
	{
    	display: block;

    	width: 100%;
    	height: 100%;
	}

	#welcome
	{
		border: 1px solid grey;
		padding: 16px;
		text-align: center;
		color: #777;
		width: 95%;
		height: auto;
	}

	.paragraph
	{
		font-size: 110%;
	}

	.start-tour-btn
	{
		width: 95%;
	}
}