<!DOCTYPE html>
<html>
<head>
<title> Add Sculpture </title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
<script>
var app = angular.module('addSculpture', []);

app.controller('AddSculptCtrl', function ($scope, $http) {
  
  $scope.sculpture_name = "";
  $scope.video = "";
  $scope.image = "";
  $scope.audio = "";
  $scope.active = true;
  $scope.coordinates_latitude;
  $scope.coordinates_longitude;
  $scope.artist = "";
  $scope.artist_statement = "";
  $scope.message  = "";
  $scope.uploadVideo = true;
  $scope.videoLink = "";
  $scope.token = sessionStorage.getItem('token');

  $scope.submit = function(){
    var sculpture = { 
              sculpture_name: $scope.sculpture_name, 
    				  video: $scope.video,
    				  image: $scope.image,
    				  audio: $scope.audio,
    				  active: $scope.active,
    				  coordinates_latitude: $scope.coordinates_latitude,
              coordinates_longitude: $scope.coordinates_longitude,
    				  artist: $scope.artist,
    				  artist_statement: $scope.artist_statement,
              token: sessionStorage.getItem('token')
    				};

    $http.post('/sculpture', sculpture).then(function successCallback(response){
        if(response.data.success === true){
         	$scope.message = "Sculpture Added";
        }
        else {
          $scope.message = "error";
        }

    }, function errorCallback(response){
      console.log("error");
    });
  }
});
</script>

<body ng-app="addSculpture" ng-controller="AddSculptCtrl" style="overflow-x:hidden">

    <div class="row" style="padding-top:50px;">
        <div class="col-md-7 col-md-offset-2">
      <p style="font-size:40px; padding-bottom:20px;">Add Sculpture</p>
      </div>
    </div>

    <div class="col-md-8 col-md-offset-2">

        <div class="form-group">
          <label for="name">Name</label>
          <input class="form-control" id="name" type="text" ng-model="sculpture_name" placeholder="Sculpture Name">
        </div>

        <div class="form-group">
          <label for="name">Latitude</label>
          <input class="form-control" id="name" type="text" ng-model="coordinates_latitude" placeholder="40.02">
        </div>

        <div class="form-group">
          <label for="name">Longitude</label>
          <input class="form-control" id="name" type="text" ng-model="coordinates_longitude" placeholder="-88.02">
        </div>

        <div class="form-group">
          <label for="name">Artist</label>
          <input class="form-control" id="name" type="text" ng-model="artist" placeholder="Artist Name">
        </div>

        <div class="form-group">
          <label for="name">Artist Statement</label>
          <input class="form-control" id="name" type="text" ng-model="artist_statement" placeholder="Artist Statement">
        </div>

        <div class="form-group">
          <div class="input-group">
            <p><b>Status</b></p>
            <label class="radio-inline"><input type="radio" ng-model="active" ng-value="true">Active</label>
            <label class="radio-inline"><input type="radio" ng-model="active" ng-value="false">Inactive</label>
          </div>
        </div>

      <form action="http://localhost:8080/upload" method="post" enctype="multipart/form-data">

            <div class="form-group"style="padding-top:10px;"> <div class="input-group">
             <label for="image">Add Image</label> <input type="file" name="image">
            </div></div>
            <div class="form-group"style="padding-top:10px;"> <div class="input-group">
             <label for="audio">Add Audio</label> <input type="file" name="audio">
            </div></div>

            <div style="padding-top:10px;"><strong> Add Video </strong></div>

            <div class="form-group" style="padding-top:5px;">
              <div class="input-group">
              <label class="col-sm-2">Type</label>
              <label class="radio-inline" style="padding-left:50px;">
              <input type="radio" ng-model="uploadVideo" ng-value="true">Upload</label>
              <label class="radio-inline"> 
              <input type="radio" ng-model="uploadVideo" ng-value="false">Link</label>
              </div></div>

            <div ng-show="uploadVideo" >
            <div class="form-group" > <div class="input-group">
            <input type="file" name="video">
            </div></div></div>
        
            <div ng-hide="uploadVideo">
            <div class="form-group" > <div class="input-group">
            <input type="text" class="form-control" id="videoLink" ng-model="videoLink" placeholder="Video Link">
            </div></div></div>

            <input type="hidden" name="sculpture_name" value="{{ sculpture_name }}">
            <input type="hidden" name="token" value="{{ token }}">

            <p style="padding-top:12px;">
            <button type="submit" class="btn btn-primary" ng-click="submit()">Submit</button>
    </form>

    <p style="font-size:20px; padding-top:10px; color:red;"> {{ message }} </p>

    </div>

</body>
</html>
