<!DOCTYPE html>
<html>
<head>
<title> Add Sculpture </title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
<script>
var app = angular.module('addSculpture', []);

app.factory('addSculptureFactory', function($http){
  var getData = function(){
    return $http.get("/api/types").then(function(result){
      return result.data;
    });  
  }

  return { getData: getData };
});

app.factory('addLocationFactory', function($http){
  var getData = function(){
    return $http.get("/api/locations").then(function(result){
      return result.data;
    });  
  }

  return { getData: getData };
});


app.controller('AddSculptCtrl', function ($scope, $http, $window, addSculptureFactory, addLocationFactory) {
  
  var init = function () {
    if(sessionStorage.getItem('token') === null){
       $window.location = "login.html";
    }
  };

  init();

  $scope.sculpture_name = "";
  $scope.video = "";
  $scope.image = "";
  $scope.audio = "";
  $scope.active = true;
  $scope.coordinates_latitude;
  $scope.coordinates_longitude;
  $scope.artist = "";
  $scope.artist_statement = "";
  $scope.message  = "";
  $scope.uploadVideo = true;
  $scope.videoLink = "";
  $scope.token = sessionStorage.getItem('token');
  $scope.types = [];
  $scope.locations = [];
  $scope.selectedType = '';
  $scope.number;
  $scope.location;

  var sculpturePromise = addSculptureFactory.getData();
  sculpturePromise.then(function(result) {
      var data = result;
      for(var i = 0; i < data.length; i++){
        $scope.types.push(data[i]); 
      }
    });

  var locationPromise = addLocationFactory.getData();
  locationPromise.then(function(result) {
      var data = result;
      for(var i = 0; i < data.length; i++){
        $scope.locations.push(data[i]); 
      }
    });

  $scope.submit = function(event){
    //event.preventDefault();    
    var sculpture = { 
              sculpture_name: $scope.sculpture_name, 
    				  active: $scope.active,
    				  coordinates_latitude: $scope.coordinates_latitude,
              coordinates_longitude: $scope.coordinates_longitude,
    				  artist: $scope.artist,
    				  artist_statement: $scope.artist_statement,
              token: sessionStorage.getItem('token'),
              location: $scope.selectedLocation,
              type: $scope.selectedType

    				};

    $http.post('/api/sculpture', sculpture).then(function successCallback(response){
        if(response.data.success === true){
         	$scope.message = "Sculpture Added";
        }
        else {
          $scope.message = "Error";
        }

    }, function errorCallback(response){
          $scope.message = "Error";
    });

  }
});
</script>

<body ng-app="addSculpture" ng-controller="AddSculptCtrl" style="overflow-x:hidden">

    <div class="row" style="padding-top:50px;">
        <div class="col-md-7 col-md-offset-2">
      <p style="font-size:40px; padding-bottom:20px;">Add Sculpture</p>
      </div>
    </div>

    <div class="col-md-8 col-md-offset-2">

        <div class="form-group">
          <label for="name">Name</label>
          <input class="form-control" id="name" type="text" ng-model="sculpture_name" placeholder="Sculpture Name">
        </div>

        <div class="form-group">
          <label for="name">Latitude</label>
          <input class="form-control" id="name" type="text" ng-model="coordinates_latitude" placeholder="40.02">
        </div>

        <div class="form-group">
          <label for="name">Longitude</label>
          <input class="form-control" id="name" type="text" ng-model="coordinates_longitude" placeholder="-88.02">
        </div>

        <div class="form-group">
          <label for="name">Artist/Description 1</label>
          <input class="form-control" id="name" type="text" ng-model="artist" placeholder="Artist Name">
        </div>

        <div class="form-group">
          <label for="name">Artist Statement/Description 2</label>
          <input class="form-control" id="name" type="text" ng-model="artist_statement" placeholder="Artist Statement">
        </div>

        <div class="form-group">
          <div class="input-group">
            <p><b>Status</b></p>
            <label class="radio-inline"><input type="radio" ng-model="active" ng-value="true">Active</label>
            <label class="radio-inline"><input type="radio" ng-model="active" ng-value="false">Inactive</label>
          </div>
        </div>

        <label for="typebox"> Type </label><br>
        <select name="typebox" id="typebox" ng-model="selectedType">
          <option ng-repeat="type in types" value={{type.name}}>{{type.name}}</option>
        </select><br>

        <label for="typebox"> Location </label><br>
        <select name="typebox" id="typebox" ng-model="selectedLocation">
          <option ng-repeat="location in locations" value={{location.name}}>{{location.name}}</option>
        </select><br>

      <form action="http://urbanaparkstour.org/api/upload" method="post" enctype="multipart/form-data">
            <div class="form-group"style="padding-top:10px;"> <div class="input-group">
             <label for="image">Add Image</label> <input type="file" name="image">
            </div></div>
            <div class="form-group"style="padding-top:10px;"> <div class="input-group">
             <label for="audio">Add Audio (mp4 recommended)</label> <input type="file" name="audio">
            </div></div>
            <div class="form-group"style="padding-top:10px;"> <div class="input-group">
             <label for="video">Add Video (mp4 recommended)</label> <input type="file" name="video">
            </div></div>

            <input type="hidden" name="sculpture_name" value="{{ sculpture_name }}">
            <input type="hidden" name="token" value="{{ token }}">

            <p style="padding-top:12px;">
            <button type="submit" class="btn btn-primary" ng-click="submit($event)">Submit</button>
      </form>

    <b><p style="font-size:24px; padding-top:10px; padding-bottom:40px; color:red;"> {{ message }} </p></b>

    </div>

</body>
</html>
