<!DOCTYPE html>
<html>
<head>
<title> Add Advertisement </title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
<script>
var app = angular.module('addSculpture', []);

app.factory('moduleFactory', function($http){
  var getData = function(){
    return $http.get("/api/advertisements").then(function(result){
      return result.data;
    });  
  }

  return { getData: getData };
});

app.controller('AddSculptCtrl', function ($scope, $http, $window, moduleFactory) {
  
  var init = function () {
    if(sessionStorage.getItem('token') === null){
       $window.location = "login.html";
    }
  };

  init();

  $scope.token = sessionStorage.getItem('token');
  $scope.name = '';
  $scope.advertisements = [];

  var modulePromise = moduleFactory.getData();
  modulePromise.then(function(result) {
    var data = result;
    for(var i = 0; i < data.length; i++){
      $scope.advertisements.push(data[i]); 
    }
  });

  $scope.delete = function(type_id){

    if (confirm("Are you sure you want to delete?") == true) {

      var typeToDelete = {id: type_id, token: sessionStorage.getItem('token')};
      $http.post('/api/advertisements/delete', typeToDelete).then(function successCallback(response){
      $window.location.reload();
          if(response.data.success === true){
            $scope.message = "Advertisement Deleted";
           $window.location.reload();
          }
          else {
            $window.location.reload();
            $scope.message = "error";
          }

      }, function errorCallback(response){
        console.log("error");
      });
      $window.location.reload();

    } 
    else {}
  }

  $scope.toggle = function(oid, status){
    var typeToDelete = {id: oid, token: sessionStorage.getItem('token'), active: status};
    $http.post('/api/advertisements/toggle', typeToDelete).then(function successCallback(response){
      $window.location.reload();
      }, function errorCallback(response){
        console.log("error");
      });
  }

});
</script>

<body ng-app="addSculpture" ng-controller="AddSculptCtrl" style="overflow-x:hidden">

    <div class="row" style="padding-top:50px;">
        <div class="col-md-7 col-md-offset-2">
      <p style="font-size:40px; padding-bottom:20px;">Add Advertisement</p>
      </div>
    </div>

    <div class="col-md-8 col-md-offset-2">
      <div class="form-group">
        <label for="name">Advertisement</label>
        <input class="form-control" id="name" type="text" ng-model="name" placeholder="Advertisement Name">
      </div>

      <form action="http://localhost:8080/api/advertisements" method="post" enctype="multipart/form-data">
            <div class="form-group"style="padding-top:10px;"> <div class="input-group">
             <label for="image">Add Image (Please only upload an image)</label> <input type="file" name="image">
            </div></div>

            <input type="hidden" name="token" value="{{ token }}">
            <input type="hidden" name="name" value="{{ name }}">

            <p style="padding-top:12px;">
            <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      <p style="font-size:20px; padding-top:10px; color:red;"> {{ message }} </p>
    </div>

    <div class="row" style="padding-top:200px;">
        <div class="col-md-7 col-md-offset-2">
      <p style="font-size:40px;">Current Advertisements</p>
      </div>
    </div>

    <div class="container col-md-offset-2">
      <table class = "table">
        <thead>
          <tr>
            <th class="col-md-1"> Name </th>
            <th class="col-md-2"> </th>
          </tr>
        <thead>

        <tbody>
          <tr ng-repeat="advertisement in advertisements track by $index">
            <td style="padding-top:12px; font-size:40px;"> {{ advertisement.name }} 
              <p>
              <button type="button" class="btn btn-danger btn-lg" ng-click="delete(advertisement._id)">Delete</button>
              <div ng-show=advertisement.active>
                <button type="button" class="btn btn-primary btn-lg" ng-click="toggle(advertisement._id, false)">Deactivate</button>
              </div>
              <div ng-show=!advertisement.active>
                <button type="button" class="btn btn-primary btn-lg" ng-click="toggle(advertisement._id, true)">Activate</button>
              </div>

              </p>
            </td>
            <td>
              <img src="{{ advertisement.path }}" alt="" height=200 width=200></img>
            </td>
          </tr>                    
        </tbody>      
      </table>
    </div>

</body>
</html>
