<!DOCTYPE html>
<html>
<head>

  <title>UPD</title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/style_detail.css">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  <script src="https://rawgit.com/angular-ui/angular-google-maps/2.3.2/dist/angular-google-maps.min.js"></script>
  <script src="js/bootstrap.js"></script>

  <script>

    var app = angular.module('list_sculptures', []);
    app.factory('sculptureListFactory', function($http){
      var getData = function(){
        return $http.get("/api/sculpture").then(function(result){
          return result.data;
        });  
      }
      return { getData: getData };
    });
    app.factory('advertListFactory', function($http){
      var getData = function(){
        return $http.get("/api/advertisements").then(function(result){
          return result.data;
        });  
      }
      return { getData: getData };
    });
    app.controller('SculptureListCtrl', function ($scope, sculptureListFactory, advertListFactory) {
      
      $scope.sculpture = null;
      $scope.addImage = false;
      $scope.name = sessionStorage.getItem('name');
      $scope.number = sessionStorage.getItem('number');
      $scope.advert = null;
      var sculpturePromise = sculptureListFactory.getData();
      sculpturePromise.then(function(result) {
        console.log("promise completed");
        var data = result;
        for(var i = 0; i < data.length; i++){
          if(" " + data[i].sculpture_name == $scope.name)
          {
            console.log("pushing" + data[i].sculpture_name + "to sculpture");
            $scope.sculpture = data[i];
          }
        }
        console.log($scope.sculpture.video);
      });
      var advertPromise = advertListFactory.getData();
      advertPromise.then(function(result) {
        console.log("promise completed");
        var data = result;
        for(var i = 0; i < data.length; i++){
          if(data[i].active)
          {
            console.log("pushing" + data[i].name + " to advert");
            $scope.advert = data[i];
          }
        }
      });
    });
    function initMap() {
      var location = sessionStorage.getItem('tourLocation');
      var mapDiv = document.getElementById('map');
      var map = null;
      xmlLocationHttp = new XMLHttpRequest();
      xmlLocationHttp.onreadystatechange = function() {
        if(xmlLocationHttp.readyState == 4 && xmlLocationHttp.status == 200)
        {
          var myLoc = JSON.parse(xmlLocationHttp.responseText);
          addMap(myLoc);
        }
      }
      xmlLocationHttp.open("GET", "/api/locations", true);
      xmlLocationHttp.send();
      function addMap(arr){
	for (i = 0; i < arr.length; i++)
	{
        if(arr[i].name == location)
        {
          map = new google.maps.Map(mapDiv, {
          center: {lat: arr[i].coordinates_latitude, lng: arr[i].coordinates_longitude},
          zoom: 17,
          mapTypeControl: false,
          streetViewControl: false
          }); 
        }
	}
      }   
      var xmlHttp = new XMLHttpRequest();
      xmlHttp.onreadystatechange = function() {
        if(xmlHttp.readyState == 4 && xmlHttp.status == 200) 
        {
          var myArr = JSON.parse(xmlHttp.responseText);
          addMarkers(myArr);
        }
      };
      xmlHttp.open("GET", "/api/sculpture", true);
      xmlHttp.send();
      function addMarkers(arr){
        for(i = 0; i < arr.length; i++) {
          if(arr[i].active && (" "+arr[i].sculpture_name) == sessionStorage.getItem('name')){
            var marker = new google.maps.Marker({
              position: new google.maps.LatLng(arr[i].coordinates_latitude, arr[i].coordinates_longitude),
              icon: '/img/Icons/Circles/BlueBig/' + sessionStorage.getItem('number') + "BlueBig.png",
              draggable: false,
              map: map
            });
          }
        }
      } 
    }

    function openVideoModal(){
      $('#myVideoModal').modal('show');
    }
    function openAudioModal(){
      $('#myAudioModal').modal('show');
    }
    function openAdvertModal(){
      $('#myAdvertModal').modal('show');
    }

    $(document).on('hidden.bs.modal','#myVideoModal', function (e) {
      $('.video')[0].pause();
    });

  </script>
</head>

<body ng-app="list_sculptures" ng-controller="SculptureListCtrl">

  <div id="map"></div>
  
  <div ng-if="advert === null">
    <img class="notification-img" src="/img/Icons/Notifications.png"></img>
  </div>

  <div ng-if="advert !== null" >
    <a href="" onclick="openAdvertModal()" role "button" data-toggle="modal"><img class="notification-img" src="/img/Icons/Notifications-Alert.png"></img></a>
  </div>

  <img class="homepageonmapview-img" src="/img/Icons/GoBackToList.png" onclick="document.location = 'overview.html';"></img>

  <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>

  <div class="white-container">

    <div class="container" id="object-table">
      <table class = "table" border="0" cellpadding="0" cellspacing="0" id="table">
        <thead>
          <tr>
            <th class="col-md-1 col-xs-1"></th>
            <th class="col-md-8 col-xs-7"></th>
            <th class="col-md-0 col-xs-0"></th>
          </tr>
        <thead>

        <tbody>
            <tr>
              <td style="padding-top:12px; align:center; vertical-align:middle;"><img src="/img/Icons/Circles/BlueBig/{{ number }}BlueBig.png" alt="" height=80 width=80></img></td>
              <td id="{{sculpture.number}}" style="padding-top:50px; padding-left:40px; font-size:75px;" align="left">{{sculpture.sculpture_name}}</td>
              <td style="padding-top:0px; padding-bottom:0px;" align="right"><img class="sculpture-image" src="{{ sculpture.image }}" alt=""></img> </td>
            </tr>                    
          </tbody> 
      </table>
    </div>

    <br>
    <div ng-if="sculpture.artist !== ''" class="artistName"><p align="center">{{sculpture.artist}}</p></div>
    <br>

    <div ng-if="sculpture.artist_statement !== ''" class="artistMessage"><p align="center">Message from the artist(s)</p></div>
    <div ng-if="sculpture.artist_statement !== ''" class="artistStatement"><p align="left">{{sculpture.artist_statement}}</p></div>
    
    <br>
    <br>
    
    <div ng-if="sculpture.video !== null || sculpture.video" class="videoExists">
      <a href="" onclick="openVideoModal()" role "button" data-toggle="modal"><img class="video-image" src="/img/Icons/WatchVideo.png"></a>
    </div>

    <br>
    <br>

    <div ng-if="sculpture.audio !== null || sculpture.audio" class="audioExists">
      <a href="" onclick="openAudioModal()" role "button" data-toggle="modal"><img class="audio-image" src="/img/Icons/PlayAudio.png"></a>
      Sound Tour: Story Behind {{sculpture.sculpture_name}}
    </div>

  </div>

  <div id="myVideoModal" class="modal fade">
    <div class="modal-body" id="modal">
      <video ng-src="{{sculpture.video}}" controls class="center-block video" preload="auto" id="modal">
      </video>
    </div>
  </div> 

  <div id="myAudioModal" class="modal fade">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Audio Story</h4>
      </div>
      <div class="modal-body" >
          <audio ng-src="{{sculpture.audio}}" id="modal-audio" controls></audio>
      </div>
    </div>
  </div>

  <div id="myAdvertModal" class="modal fade">
    <div class="modal-body" id="ad-modal">
        <img style = "max-width: 850px; max-height: 1000px;" src="{{advert.path}}"></img>
    </div>
  </div> 

  </div>

</body>
</html>                                   
</body>
</html>
