<!DOCTYPE html>
<html>
<head>
  <title>Sculptures List</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>


  <script>

    var app = angular.module('list_sculptures', []);

    app.factory('sculptureListFactory', function($http){
      var getData = function(){
        return $http.get("/sculpture").then(function(result){
          return result.data;
        });  
      }

      return { getData: getData };
    });

    app.controller('SculptureListCtrl', function ($scope, $http, $window, sculptureListFactory) {
      var init = function () {
        if(sessionStorage.getItem('token') === null){
           $window.location = "login.html";
        }
      };

      init();

      $scope.sculptures = [];
      $scope.searchString = "";
      $scope.message = "";

      var sculpturePromise = sculptureListFactory.getData();

      sculpturePromise.then(function(result) {
        var data = result;
        for(var i = 0; i < data.length; i++){
          $scope.sculptures.push(data[i]); 
        }
      });

      $scope.reloadRoute = function() {
       $window.location.reload();
      }

      $scope.delete = function(sculpture_name){

        if (confirm("Are you sure you want to delete?") == true) {

          var sculptureToDelete = {sculpture_name: sculpture_name, token: sessionStorage.getItem('token')};
          $http.post('/upload/delete', sculptureToDelete).then(function successCallback(response){
          $window.location.reload();
              if(response.data.success === true){
                $scope.message = "Sculpture Deleted";
               $window.location.reload();
              }
              else {
                $window.location.reload();
                $scope.message = "error";
              }

          }, function errorCallback(response){
            console.log("error");
          });
          $window.location.reload();

        } 
        else {}
    }

    $scope.edit = function(sculpture_name){
      console.log(sculpture_name);
      sessionStorage.setItem('sculptureToEdit', sculpture_name);    
      $window.location = "edit_sculpture.html";
    }

    });

  </script>
</head>

<body ng-app="list_sculptures" ng-controller="SculptureListCtrl" style="overflow-x:hidden">

    <div class="row" style="padding-top:50px;">
      <div class="col-md-7 col-md-offset-2">
        <p style="font-size:48px; padding-bottom:20px;">Sculptures List</p>
      </div>
    </div>

    <div class="col-md-8 col-md-offset-1">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon" id="sizing-addon2" style="padding-right:30px;"><b>Search</b></span>
          <input type="text" class="form-control" aria-describedby="basic-addon2"  
          ng-model="searchString" placeholder="Sculpture Name">
        </div>
      </div>
    </div>

    <div style="padding-top:2px; font-size:20px;"><a href="add_sculpture.html"> Add a new sculpture </a></div>


    <div class="container col-md-offset-1">
      <table class = "table">
        <thead>
          <tr>
            <th class="col-md-2"> Name </th>
            <th class="col-md-2">  </th>
            <th class="col-md-2"> Image </th>
          </tr>
        <thead>

        <tbody>
          <tr ng-repeat="sculpture in sculptures | filter:searchString">
            <td style="padding-top:12px; font-size:40px; " > {{ sculpture.sculpture_name }} 
            <p>
             <button type="button" class="btn btn-danger btn-md" ng-click="delete(sculpture.sculpture_name)">Delete</button>
            </td>

            <td>
              <p style="padding-top:12px;">
              <button type="button" class="btn btn-info btn-lg" ng-click="edit(sculpture.sculpture_name)">Edit</button>

            </td>

            <td>
              <img src="{{ sculpture.image }}" alt="" height=200 width=200></img>
            </td>
          </tr>                    
        </tbody>      
      </table>
    </div>
  </div>

</body>

</html>