<!DOCTYPE html>
<html>
<head>
  <title>UPD</title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/style_overview.css">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  <script src="https://rawgit.com/angular-ui/angular-google-maps/2.3.2/dist/angular-google-maps.min.js"></script>
  <script src="js/bootstrap.js"></script>

  <script>
    var app = angular.module('list_sculptures', []);

    app.factory('sculptureListFactory', function($http){
      var getData = function(){
        return $http.get("/api/sculpture").then(function(result){
          return result.data;
        });  
      }

      return { getData: getData };
    });
    app.factory('advertListFactory', function($http){
      var getData = function(){
        return $http.get("/api/advertisements").then(function(result){
          return result.data;
        });  
      }
      return { getData: getData };
    });
    app.controller('SculptureListCtrl', function ($scope, sculptureListFactory, advertListFactory) {
      
      $scope.sculptures = [];
      $scope.addImage = false;
      $scope.advert = null;
      var location = sessionStorage.getItem('tourLocation');
      var type = sessionStorage.getItem('tourType');
      var sculpturePromise = sculptureListFactory.getData();
      sculpturePromise.then(function(result) {
        var data = result;
        iconNumber = 1;
        for(var i = 0; i < data.length; i++){
          if (type == "All" && data[i].active && data[i].location == location)
          {
            var newSculpture = {sculpture_name: data[i].sculpture_name, video: data[i].video, image: data[i].image, audio: data[i].audio, active: data[i].active, coordinates_latitude: data[i].coordinates_latitude, coordinates_longitude: data[i].coordinates_longitude, artist: data[i].artist, artist_statement: data[i].artist_statement, number: iconNumber}
            $scope.sculptures.push(newSculpture); 
            iconNumber++;
          }
          else if(data[i].active && data[i].location == location && data[i].type == type){
            var newSculpture = {sculpture_name: data[i].sculpture_name, video: data[i].video, image: data[i].image, audio: data[i].audio, active: data[i].active, coordinates_latitude: data[i].coordinates_latitude, coordinates_longitude: data[i].coordinates_longitude, artist: data[i].artist, artist_statement: data[i].artist_statement, number: iconNumber}
            $scope.sculptures.push(newSculpture); 
            iconNumber++;
          }
        }
      });
      var advertPromise = advertListFactory.getData();
      advertPromise.then(function(result) {
        console.log("promise completed");
        var data = result;
        for(var i = 0; i < data.length; i++){
          if(data[i].active)
          {
            console.log("pushing" + data[i].name + " to advert");
            $scope.advert = data[i];
          }
        }
      });
    });
    function initMap() {
      var location = sessionStorage.getItem('tourLocation');
      var type = sessionStorage.getItem('tourType');
	console.log(location);
	console.log(type);
      xmlLocationHttp = new XMLHttpRequest();
      xmlLocationHttp.onreadystatechange = function() {
        if(xmlLocationHttp.readyState == 4 && xmlLocationHttp.status == 200)
        {
          var myLoc = JSON.parse(xmlLocationHttp.responseText);
          addMap(myLoc);
        }
      }
      xmlLocationHttp.open("GET", "/api/locations", true);
      xmlLocationHttp.send();
      var mapDiv = document.getElementById('map');
      var map = null;
      function addMap(arr){
	for(i = 0; i < arr.length; i++)
	{
        if(arr[i].name == location)
        {
	  console.log(arr[i].coordinates_latitude);
	  console.log(arr[i].coordinates_longitude);
          map = new google.maps.Map(mapDiv, {
          center: {lat: arr[i].coordinates_latitude, lng: arr[i].coordinates_longitude},
          zoom: 17,
          mapTypeControl: false,
          streetViewControl: false
          }); 
        }
	}
      } 
      var xmlMarkerHttp = new XMLHttpRequest();
      xmlMarkerHttp.onreadystatechange = function() {
        if(xmlMarkerHttp.readyState == 4 && xmlMarkerHttp.status == 200) 
        {
          var myArr = JSON.parse(xmlMarkerHttp.responseText);
          addMarkers(myArr);
        }
      };
      xmlMarkerHttp.open("GET", "/api/sculpture", true);
      xmlMarkerHttp.send();
      iconNum = 1;
      function addMarkers(arr){
        for(i = 0; i < arr.length; i++) {
          if(type == "All")
          {
            var marker = new google.maps.Marker({
              position: new google.maps.LatLng(arr[i].coordinates_latitude, arr[i].coordinates_longitude),
              icon: '/img/Icons/Circles/BlackBig/' + iconNum + "BlackBig.png",
              draggable: false,
              map: map
            });
            iconNum++;
          }
          else if(arr[i].active && arr[i].location == location && arr[i].type == type){
            var marker = new google.maps.Marker({
              position: new google.maps.LatLng(arr[i].coordinates_latitude, arr[i].coordinates_longitude),
              icon: '/img/Icons/Circles/BlackBig/' + iconNum + "BlackBig.png",
              draggable: false,
              map: map
            });
            iconNum++;
          }
        }
      }
      var person = null;
      function autoUpdateLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position){
            var point = new google.maps.LatLng(position.coords.latitude,
                                               position.coords.longitude);
            if (person) {
              person.setPosition(point)
            }
            else {
              person = new google.maps.Marker({
                position: point,
                map:map,
                icon: '/img/Icons/map_icon_person.png'
              });
            }
          });
        }
        else {
          alert('Geolocation is not available');
          return;
        }
        setTimeout(autoUpdateLocation, 5000);
      }
      autoUpdateLocation(); 
    }
    function openAdvertModal(){
      $('#myAdvertModal').modal('show');
    }
  </script>
</head>
<body ng-app="list_sculptures" ng-controller="SculptureListCtrl">

  

    <div id="map"></div>

    <div ng-if="advert === null">
      <img class="notification-img" src="/img/Icons/Notifications.png"></img>
    </div>

    <div ng-if="advert !== null" >
      <a href="" onclick="openAdvertModal()" role "button" data-toggle="modal"><img class="notification-img" src="/img/Icons/Notifications-Alert.png"></img></a>
    </div>

    <img class="homepageonmapview-img" src="/img/Icons/HomePageOnMapView.png" onclick="document.location = 'tour_options.html';"></img>

    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>

  <div class="white-container">

    <div class="instruction"><p><h3>Scroll to view and select an object</h3></p></div>

    <div class="container" id="object-table">
        <table class = "table" border="0" cellpadding="0" cellspacing="0" id="table">
          <thead>
            <tr>
              <th class="col-md-1 col-xs-1"></th>
              <th class="col-md-8 col-xs-7"></th>
              <th class="col-md-0 col-xs-0"></th>
            </tr>
          <thead>

          <tbody>
            <tr ng-repeat="sculpture in sculptures">
              <td style="padding-top:12px; align:center; vertical-align:middle;"><img src="/img/Icons/Circles/BlackBig/{{ sculpture.number }}BlackBig.png" alt="" height=70 width=70></img></td>
              <td id="{{sculpture.number}}" style="padding-top:67px; padding-left:40px;" align="left" onclick="sessionStorage.name=this.textContent; sessionStorage.number=this.id; document.location = 'detail.html';"> <FONT COLOR=BLACK FACE="Geneva, Arial" SIZE=7>{{sculpture.sculpture_name}}</FONT></td>
              <td style="padding-top:0px; padding-bottom:0px;" align="right"><img src="{{ sculpture.image }}" alt="" height=200 width=200></img> </td>
            </tr>                    
          </tbody>      
        </table>
    </div>

  </div>

  <div  id="myAdvertModal" class="modal fade">
    <div class="modal-body" id="ad-modal">
      <img style="max-width: 850px; max-height: 1000px;" src="{{advert.path}}"></img>
    </div>
  </div>

</body>
</html>
